aws_region  = "us-west-2"
project     = "eth-validator-platform"
environment = "dev"

validator_signing_secret_names = {
  validator-ephemery-162-01 = "validator-keystore"
  validator-ephemery-162-02 = "validator-keystore-02"
  validator-ephemery-162-03 = "validator-keystore-03"
  validator-ephemery-162-04 = "validator-keystore-04"
  validator-ephemery-162-05 = "validator-keystore-05"
}
